/*.nav-bar{*/
/*  color: black;*/
/*  display: flex;*/
/*}*/

/*.card{*/
/*    width: 20rem;*/
/*}*/

/*.card:hover{*/
/*    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;*/
/*}*/

/*.card-body{*/
/*    padding: 3rem 0 !important*/
/*}*/

/*.card-text{*/
/*    font-size: 0.9rem;*/
/*    padding: 0.4rem 1.9rem;*/
/*}*/

/*.row{*/
/*    width: 84%;*/
/*    !*padding-top: 8rem;*!*/
/*}*/

/*.card-img-top{*/
/*    transform: scale(1);*/
/*    transition: transform 0.5 ease;*/
/*}*/

/*.card-img-top:hover{*/
/*    transform: scale(1.8);*/
/*}*/

/*.overflow {*/
/*    overflow: hidden;*/
/*}*/

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Lucida Console", Monaco, monospace;
}

.card-report {
  border-radius: 2em;
  /* height: 80%; */
}

.reports-image {
  overflow: hidden;
}

.reports-image img {
  transition: all 1.5s ease;
}

.reports-image:hover img {
  /* transform: scale(1.5); */
  transform: scale(1.1, 1.1);

}

/* .foot-part {
  position: fixed;
  bottom: 0;
  height: 30px;
} */

.login-container {
  width: 30%;
}

.form {
  /* background: red; */
  width: 50%;
  margin-top: 1%;
}

.form-label {
  font-size: 1.5em;
}

.submit-container {
  width: 100%;
  text-align: center;
}

.button {
  background: rgb(1, 136, 73);
  padding: 1%;
  border-radius: 9px;
  color: white;
  border: 1px solid rgb(1, 136, 73);
}

.body {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.time {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: green;
}

.filter {
  margin-top: 8%;
  /*margin-bottom: 3%;*/
}

.update-status {
  position: absolute;
  right: 0;
  width: auto;
  border: 1px solid #000000;
  padding: 0.3em;
}

.report-status {
  letter-spacing: 0.2em;
  min-height: 36px;
  display: inline-flex;
  align-items: center;
  /* font-weight: 400; */
}

.report-location {
  font-size: 0.8em;
}

.metrics-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 9%;
  margin-top: 2%;
}

.count {
  font-size: 29px;
  font-weight: 700;
  line-height: 1.65857;
  text-align: center;
  color: #57584e;
}

.metric-item {
  text-align: center;
  font-weight: 500;
  margin-top: 7%;
}

.image {
  height: 20em;
}

.logout {
  color: white;
  cursor: pointer;
}

.report-title {
  cursor: pointer;
  color: black;
  font-size: 1.1em;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.report-name {
  font-size: 1.4em;
}

.navbar {
  background-color: rgb(1, 136, 73);
  /*variantColor={'light'} />*!}*/
}

.navbar-brand {
  width: 30%;
  font-size: 1.3rem;
  color: white;
}

.navbar-links-container {
  width: 100%;
}

.navbar-links {
  width: 25%;
  justify-content: center;
  text-align: center;
}

.navbar-links-unauth {
  width: 50%;
  justify-content: center;
}

.report {
  width: 18rem;
}

.report-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.status {
  text-align: center;
  width: 80%;
  text-align: 6%;
  /* padding-right: 6%; */
  border-radius: 2em;
  color: white;

}

.nav-navlinks {
  width: 25%;
  text-align: center;
}

.form-container {
  width: 50%;
}

.metric {
  width: 18rem;
  margin: auto
}

.report-updated {
  display: flex
}

.report-reported {
  display: flex
}

.report-info {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .report-info {
    display: block;
  }

  .report-updated {
    display: block;
  }

  .report-reported {
    display: block;
  }

  .status {
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 2em;
    color: white;
    font-size: 1.0em;
  }

  .navbar-links {
    width: 20%;
  }

  .report {
    width: 100%;
  }

  .body {
    display: block;
  }

  .report-detail {
    display: block;
  }

  .report-status {
    font-size: 15px;
  }

  .nav-navlinks {
    width: 54%;
    text-align: justify;
  }

  .form-container {
    width: 100%;
  }

  .metrics-container {
    display: block;
  }

  .metric {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 18rem;
    width: 18rem,
  }

  .form {
    width: 100%;
  }

  .login-container {
    width: 100%;
  }
}
